html {
  background-color: #e0f2f1;
}

.animalListCard {
  height: 900px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 45px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.collection-item {
  flex-grow: 1;
  font-size: 18px;
}

form {
  font-size: 18px;
}

label {
  font-size: 20pt !important;
  display: inline;
}

select {
  margin: 10px !important;
}

.input-field {
     color: black;
     font-size: 20pt !important;
   }
