html {
  background-color: #e0f2f1;
}

.card {
  min-height: 888px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 45px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.collection-item {
  flex-grow: 1;
  font-size: 18px;
}
